*.swp
*.swo
__pycache__/
.DS_Store
.vscode/

# Checkpoints and datasets
src/checkpoints/
data/
src/datasets/release_dataset/
src/datasets/something-something-v2/
src/mylonas_ijepa_wm/raw/
src/mylonas_ijepa_wm/raw/ijepa_cache
tests/*

# Generated results
ijepa_cache/
*.npy